body {
  color: rgb(26, 26, 26);
  background-color: rgb(248, 249, 250);
  display: flex;
  flex-direction: row;
  margin: 0;
}

main {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: safe;
  height: 100vh;
  width: 100vw;
}

.title-container {
  background-image: url(https://images.pexels.com/photos/699459/pexels-photo-699459.jpeg);
  background-size: cover;
  align-items: center;
  
  width: 45vw;
}

.title-text {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 7rem;
  background-color: #52525241;
  color: #13373a;
}

.title-text img {
  margin: 1rem;
  float: left;
  width: 100px;
}

.title-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
}

.text-container {
  margin-top: 6rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  width: 55%;
}
.text-container p {
  font-weight: bold;
  font-size: 19px;
}

.form-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.2rem 10px #cdcdcd;
  padding: 3rem;
  padding-top: 1rem;
  height: 30vh;
  flex-direction: column;
}

.form-container label {
  font-size: 0.7rem;
  padding-bottom: 3px;
}

.first-column {
  float: left;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.first-column input {
  margin-right: 2rem;
}

.second-column {
  float: right;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.button-container {
  display: block;
  margin-top: 10rem;
}

input {
  background-color: #fffefe;
  border: 1px solid #ebecee;
  margin-bottom: 7px;
  border-radius: 5px;
  width: 20vw;
  height: 30px;
}

input:focus {
  border-color: blue;
  box-shadow: 1px 1px 7px #acacac;
}

.input-container {
  display: flex;
  justify-content: left;
}

button {
  cursor: pointer;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  box-shadow: 1px 1px 9px #acacac;
  background-color: #2e8690;
  padding: 0.8rem 3rem;
  border-radius: 5px;
}

a {
  color: #2e8690;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
